/*HOW ARE YA?*/

.Green-container {
  text-align: center;
}

#Hello {
  background-color: #1abc9c;
  border-radius: 10px;
  box-shadow: 5px 5px #f1c40f;
  color: white;
  display: inline-block;
  font-family: Verdana;
  margin: 10px;
  padding: 10px 40px;
}

#Hello:hover {
  text-transform: uppercase;
}

#How {
  background-color: #16a085;
  border-radius: 10px;
  box-shadow: 5px 5px #f1c40f;
  color: white;
  display: inline-block;
  font-family: Verdana;
  margin: 10px;
  padding: 10px 40px;
}

#How:hover {
  text-transform: uppercase;
}

#Are {
  background-color: #2ecc71;
  border-radius: 10px;
  box-shadow: 5px 5px #f1c40f;
  color: white;
  display: inline-block;
  font-family: Verdana;
  margin: 10px;
  padding: 10px 40px;
}

#Are:hover {
  text-transform: uppercase;
}

#You {
  background-color: #27ae60;
  border-radius: 10px;
  box-shadow: 5px 5px #f1c40f;
  color: white;
  display: inline-block;
  font-family: Verdana;
  margin: 10px;
  padding: 10px 40px;
}

#You:hover {
  text-transform: uppercase;
}

/* DOWNLOADS */

.Download {
  color: black;
  font-family: Courier New;
  text-transform: uppercase;
  text-align: center;
    margin: 20px 0;
}

#one {
  background-color: #70C1B3;
  margin: 4px;
  padding: 40px;
  border-radius: 20px;
  display: inline-block;
}

#one:hover {
  background-color: #FF1654;
  text-transform: lowercase;
}

#two {
  background-color: #B2DBBF;
  margin: 4px;
  padding: 40px;
  border-radius: 20px;
  display: inline-block;
}

#two:hover {
  background-color: #FF1654;
  text-transform: lowercase;
}

#three {
  background-color: #F3FFBD;
  margin: 4px;
  padding: 40px;
  border-radius: 20px;
  display: inline-block;
}

#three:hover {
  background-color: #FF1654;
  text-transform: lowercase;
}

#four {
  background-color: #247BA0;
  margin: 4px;
  padding: 40px;
  border-radius: 20px;
  display: inline-block;
}

#four:hover {
  background-color: #FF1654;
  text-transform: lowercase;
  font-size: 16px;
}

/*BLOOPS*/

.color-container {
  display: block;
  text-align: center;
  margin: 20px 0;
}

.color {
  display: inline-block;
  margin: 10px;
  border: 10px double black;
  padding: 45px 30px;
  border-radius: 100px;
  font-family: Verdana;
  text-align: center;
}

#Bloop1 {
  background-color: #2EC4B6;
}

#Bloop2 {
  background-color: #E71D36;
}

#Bloop3 {
  background-color: #FF9F1C;
}

#Bloop4 {
  background-color: #9BC1BC;
}

.color:hover {
  background-color: #E4FF1A;
  text-transform: uppercase;
  transform: scale(1.3);
}

/* NAV BAR */

.nav-container {
  margin: 0 auto;
  text-align: center;
  margin: 70px 0;
}
.navbar {
  display: inline-block;
  text-align: center;
}

.navbar li {
  background-color: black;
  list-style-type: none;
  padding: 10px 50px;
  margin: 0 10px;
  display: inline-block;
  text-align: center;
  border-radius: 40px;
}

.navbar a {
  text-decoration: none;
  font-family: Arial;
  font-size: 15px;
  color: white;
}


#home:hover {
  background-color: #1B998B;
  box-shadow: 5px 5px #2D3047;
}

#products:hover {
   background-color: #f1c40f;
   box-shadow: 5px 5px #2D3047;
}

#about:hover {
  background-color: #FF9B71;
  box-shadow: 5px 5px #2D3047;
}

#contact:hover {
    background-color: #E84855;
    box-shadow: 5px 5px #2D3047;
}
