html {
	font-family: Helvetica;
	font-size: 12px;
	font-weight: 500px;
}

h2 {
	margin: 0 auto;
	text-align: center;
}

.header {
	margin: 50px;
	text-align: center;
}

table {
	border: 1px solid black;
	border-radius: 20px;
	border-collapse: collapse;
	margin: 0 auto;
}

td {
	text-align: center;
	padding: 20px;
	border: 1px solid black;
	border-radius: 20px;
}

.text, button {
	margin: 0 auto;
	text-align: center;
	font-size: 12px;
}

form {
	text-align: left;
}

.inputBox, .outputBox {
	text-align: center;
	height: 25px;
	border: 2px solid black;
	margin: 0 auto;
	display: inline-block;
	vertical-align: middle;
	font-family: 20px;
}

button {
	border: 1px solid black;
	background: black;
	color: white;
	display: inline-block;
}

.in, .out {
	font-size: 16px;
}
