/************************
        GENERAL
************************/

html, body {
  font-weight: 100;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  color: #333;
  letter-spacing: 2px;
  text-rendering: optimizeLegibility;
}

a {
  color: #787AFF;
  text-transform: uppercase;
  font-size: 16px;
  padding: 5px;
  text-decoration: none;
}

a:hover {
  color: #333;
  text-decoration: none;
  border: 1px solid black;
}

::selection {
  background: #E9E9E9;
}

li {
  list-style: none;
}

.slide {
  max-width: 75%;
  margin: 0 auto;
  height: auto;
}

hr {
  width: 50%;
}

.headerText {
  font-size: 30px;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em;
}

#footer, .push {
  height: 2em;
  clear: both;
}

/************************
      NAV BAR
************************/

.navbar {
  margin: 0;
  width: 80%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  margin-top: 40px;
}

.navbar a {
  text-decoration: none;
}

.navbar ul {
  padding: 0;
}

.navbar li {
  display: inline-block;
  padding: 0 20px;
}

.navbar a {
  font-size: 14px;
}

#left {
  float: left;
  padding: 0;
}

#cloud1 {
  width: 400px;
  display: inline-block;
  z-index: -1;
  position: absolute;
  vertical-align: middle;
  opacity: .7;
}

#cloud2 {
  width: 400px;
  display: inline-block;
  z-index: -1;
  position: absolute;
  vertical-align: middle;
  top: 260px;
  right: 50px;
  opacity: .7;
}

/************************
      INTRO SECTION
************************/

#intro {
  line-height: 40px;
  color: #333;
  margin-top: 120px;
}

#intro h1 {
  font-weight: 4000;
  font-color: gray;
  text-transform: uppercase;
  font-size: 3em;
  text-align: center;
}

#intro hr {
  width: 10%;
}
/************************
        PROJECTS
************************/

#work {
  padding: 20px;
  margin: 0 auto;
  text-align: center;
}

#work img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

td .caption {
  display: none;
  height: 100%;
  left: 0;
  right: 0;
  position: absolute;
  top: 0;
}

td:hover .caption{
  display: block;
  background: white;
  opacity: .9;
  color: black;
  margin: 0 auto;
  padding-top: 100px;
}

.caption {
  line-height: 1.5;
}

#work td {
  overflow: hidden;
  position: relative;
  text-align: center;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  padding: 20px;
}

#work a {
  color: black;
}


/************************
        ABOUT
************************/

#about {
  margin: 0px auto;
  font-size: 18px;
}


.aboutText {
  margin: 0 auto;
  width: 80%;
  padding-bottom: 100px;
  text-align: center;
}

.photo {
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;
  width: 80%;
}

.photo img {
  margin: 0 auto;
  width: 100%;
}


/************************
        FOOTER
************************/

#footer {
  margin-top: 100px;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  bottom: 0;
  padding-top: 20px;
  padding-bottom: 100px;
}

#footer ul {
  padding: 0px;
  padding-bottom: 20px;
}

#footer li {
  margin-right: 10px;
  display: inline-block;
}

.contacts img {
  width: 15px;
  margin-right: 5px;
}

#footer h5 {
 font-weight: 1000;
}

/******************
  RESPONSIVE
*******************/

@media (max-width: 810px) and (min-width: 320px) {

  body {
    font-size: 16px;
    line-height: 1.3;
    margin: 0 auto;
  }

  .headerText {
    margin-top: 50px;
    font-size: 22px;
    font-weight: 700;
  }

  .navbar li {
    display: block;
  }

  #intro, #about {
    width: 80%;
    height: auto;
  }

  #intro {
    font-size: 20px;
  }

  .work tr, td {
    display: block;
  }

  #work td {
    display: block;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin: 0 auto;
   }

  .photo img {
     width: 100%;
   }

   .skills {
     text-align: left;
   }

   #frontendList {
     display: inline-block;
   }

   #backendList {
     display: inline-block;
     text-align: left;
     margin: 0;
   }

   #footer li {
    display: block;
   }

   hr {
     width: 100%;
   }

}
