/************************
        GENERAL
************************/
html {
  width: 100%;
  line-height: 1;
}

body {
	font-family: 'Open Sans', sans-serif;
  color: black;
  text-rendering: optimizeLegibility;
}

.pageWrapper {
  background-color: #F5F5F5;
  height: 100%;
  width: 90%;
  border: white solid 30px;
  margin: 0px auto;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #888888;
  text-decoration: italic;
}

::selection {
  background: #F4F4F4;
}

ul {
  list-style: none;
}

h3 {
  text-align: center;
  font-size: 34px;
  font-weight: 400;
  line-height: 34px;
}

h4 {
  font-size: 18px;
}



/************************
      WELCOME PAGE
************************/

#intro {
  width: 60%;
  margin: 0 auto;
  font-size: 1.3em;
  text-align: center;
  line-height: 1em;
  height: 600px;
}

.words {
  margin-top: 200px;
  margin-bottom: 20px;
}

#intro h3 {
  font-size: 3em;
  margin-top: 0px;
  margin-bottom: 10px;
}

#last {
  margin-top: 0px;
  margin-bottom: 180px;
}

.page-wrapper .whatup {
    display: none;
  }

/************************
        NAV-BAR
************************/


.nav {
  position: relative;
  padding-bottom: 20px;
}

.nav ul {
  list-style: none;
}

.nav li {
  display: inline-block;
}

.nav a {
  text-transform: uppercase;
  font-size: 16px;
}

#mobile-hide {
  display: block;
}

/************************
        PROJECTS
************************/


#work {
  padding: 20px;
  background-color: white;
  width: 70%;
  margin: 0 auto;
}

#work ul {
  list-style: none;
  padding: 0px;
}

#work li {
  text-align: center;
}

#work img {
  width: 100%;
  height: 40%;
}

#work h5 {
  margin-top: 0px;
}

#work table {
  margin: 0 auto;
}

#work td {
  text-align: center;
  margin: 0 auto;
  width: 50%;
}

#mobile {
  display: none;
  display: inline-block;
  margin-top: 10px;
  padding: 0px;
}

#show {
  margin-bottom: 0px;
  padding: 0px;
}

/************************
        ABOUT ME
************************/

#about {
  margin-top: 200px;
  margin: 0px auto;
  padding: 20px;
  width: 70%;
}


/************************
        FOOTER
************************/

#footer {
  margin-top: 200px;
  text-align: center;
}

#footer h3 {
  font-size: 1.5em;
  margin: 0px;
}

#footer a:hover {
  text-decoration: underline;
}

#footer ul {
  padding: 0px;
  padding-bottom: 20px;
}

#footer li {
  margin-right: 10px;
  display: inline-block;
}

#social a {
  text-transform: uppercase;
}

#footer hr {
  width: 40%;
}


/******************
  RESPONSIVE
*******************/  

@media (max-width: 810px) and (min-width: 320px) {

  body {
    font-size: 10px;
    line-height: 1.3;
  }

  h5 {
    font-size: 13px;
  }
  
  #work tr, td { 
    display: block;
    padding: 0px;
    margin: 0px;
    width: 100%;
  }

  #work h4 {
    font-size: 20px;
  }

  #mobile {
    display: inline-block;
  }

  .nav li {
    display: block;
  }

  #intro .slide {
    width: 80%;
  }

  #intro {
    line-height: 1.5;
  }

  #work {
   float: none;
 }

 #nav {
  float: none;
 }

 hr {
  margin-top: 0px;
 }

 #footer li {
  font-size: 14px;
  display: block;
 }

 #footer h3 {
  font-size: 1.5em;
  margin: 0px;
}



}

@media (max-width: 660px) {

}