html {
	font-family: 'Karla', sans-serif;
	font-size: 12px;
	font-weight: 500px;
}

a {
	text-decoration: none;
	color: black;
}

.header {
	margin-top: 60px;
	margin-bottom: 60px;
	text-align: center;
}

.translator {
	margin-top: 60px;
}

table {
	border: 1px solid black;
	border-radius: 20px;
	border-collapse: collapse;
	margin: 0 auto;
}

td {
	text-align: center;
	width: 100px;
	height: 50px;
	border: 1px solid white;
	text-transform: uppercase;
}

.topRow {
	background: black;
	color: white;
}

.icons {
	font-size: 1.7em;
}

.text {
	margin: 0 auto;
	margin-right: 50px;
	text-align: center;
	font-size: 12px;
	display: inline-block;
}

form {
	display: inline-block;
}

.inputBox {
	display: inline-block;
	text-align: center;
	height: 25px;
	width: 120px;
	border: 0px;
	border-bottom: 1px solid black;
	margin: 0 auto;
	vertical-align: middle;
	font-size: 16px;
	outline: 0;
}

.in, .out {
	font-size: 16px;
	display: inline-block;
}

.outputBox {
	display:inline-block;
	margin: 0 auto;
	height: 55px;
	width: 70px;
	text-align: center;
	outline: 0;
	background: #CCC;
	border: 4px solid #555;
	border-radius: 20px;
	overflow: hidden;
	font-size: 2em;
	box-shadow: 2px 2px 1px 1px #4D4D4D;
}


/******************
  FOOTER
*******************/  

.createdBy {
	font-family: 'Open Sans', sans-serif;
  	margin: 0 auto;
  	text-align: center;
  	display: block;
  	margin-top: 60px;
  	font-size: 12px;
}

.nav {
	font-family: 'Open Sans', sans-serif;
  display: block;
  position: relative;
  padding-bottom: 20px;
  margin: 0 auto;
  text-align: center;
}

.nav a {
  margin-top: 20px;
  text-transform: uppercase;
  font-size: 12px;
  text-decoration: none;
  color: black;
}

.nav a:hover {
  color: #888888;
  text-decoration: italic;
}

.nav hr {
  width: 150px;
}

#mobile-hide {
  display: block;
}

/**********