html {
	padding: 0px;
	margin: 40px;
	font-family: 'Lato', sans-serif;
	background: url("http://media.vogue.com/r/c_1,h_396,w_660/2015/02/02/HCH_3000.jpg");
	background-size: cover;
}

.leftColumn {
	float: left;
	width: 60%;
	height: 600px;
	border: 1px solid black;
	border-radius: 20px;
	background: #FFFEF8;
}

.rightColumn {
	float: right;
	width: 37%;
	height: 600px;
	border: 1px solid black;
	border-radius: 20px;
	background: #FFFEF8;
}

.bottomColumn {
	border: 1px solid black;
	border-radius: 20px;
	background: #FFFEF8;
	margin-bottom: 10px;
	height: 130px;
}

h1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	text-align: center;
	background: #00A896;
	display: block;
	margin: 30px;
	color: white;
}

h3 {
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	text-align: center;
	display: block;
	background: #05668D;
	margin: 30px;
	color: white;
}

.rightColumn {
	overflow: auto;
}

.rightColumn img {
	width: 100px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.menuCategories {
	text-align: center;
}

.menuCategories ul{
	padding: 10;
	margin: 0 auto;
	list-style: none;
	width: 100%;
}

.menuCategories li {
	margin: 10px;
	margin: 0 auto;
	display: inline-block;
	width: 80%;
	text-align: center;
}

.menuCategories button {

	border: 1px solid black;
	background: white;
	margin: 4px;
	font-size: 13px;
	text-transform: uppercase;
}

.menuCategories button:hover {
	background: black;
	color: white;
}

.menuItemsHide {
	display: none;
	padding: 0;
	margin: 0 auto;
	margin-top: 50px;
	text-align: left;
	margin-left: 20%;
}

.menuItems li span.name{
	margin-top: 30px;
	display: block;
	padding: 0;
	margin-left: 0px;
}

.menuItemsHide .name {
	font-weight: bold;
}

.menuItemsHide li span {
	margin-left: 10px;
}

.menuItemsHide li {
	margin: 3px;
	display: block;
}


.multipleOrders ul {
	list-style-type: none;
}

.multipleOrders li {
	display: inline-block;
	margin: 5px;
}

.multipleOrders li button {
	border: 1px solid black;
	border-radius: 10px;
	background: white;
	margin: 0 2px;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
}

#receiptUL {
	padding: 0;
	background: white;
	border: 1px solid black;
}

#receiptUL span {
	margin-left: 10px;
}

.receipt li {
	list-style-type: none;
	margin: 3px;
	font-size: 14px;
}

#customerName {
	text-decoration: bold;
	border: 0px;
	border-bottom: 1px solid black;
	outline: 0;
	position: relative;
	width:100%;
	background-color: #FFFEF8;
}

#totalBeforeTax, #salesTax, #finalTotal {
	border: 0px;
	outline: 0;
	background-color: #FFFEF8;
}

#finalTotal {
	border-bottom: 1px solid black;
}

#tip12, #tip15, #tip20 {
	height: 20px;
	width: 40px;
	font-size: .9em;
	background-color: white;
	border: 1px solid black;
	outline: 0;
	margin: 0px 6px;
}


#calculations {
	margin: 0 auto;
	width: 70%;
	text-align: left;
	display: block;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
}

#finalTotal {
	font-size: 2em;
	font-weight: bold;
	color: red;
	margin-left: 10px;
}

input, textarea {
	width: 50%;
	border: 1px solid black;
	font-size: 14px;
}


#saveOrder {
	background-color: #C7104B;
	color: white;
	border: 1px solid white;
	text-align: center;
	margin: 0 auto;
	font-size: 14px;
	position: relative;
	width: 100%;
	margin-bottom: 10px;
}

#clearButton {
	background-color: #7f8c8d;
	color: white;
	border: 1px solid white;
	text-align: center;
	margin: 0 auto;
	position: relative;
	width: 100%;

}




@media only screen and (max-width: 767px) {

.menuCategoriesHide ul {
	position: relative;
	width: 100%;
	}

.menuCategoriesHide {
	margin: 0;
}

.menuCategories ul {
	margin: 0 auto;
}

.menuCategories li {
	display: block;
}

	.menuCategories ul li button {
	position: relative;
	max-width: 200px;
	display: block;
	}
  .menuCategories button {
  	display: block;
  	position: relative;
  	width: 100%;
  }

  #receiptUL li span {
  	margin-left: 0;
  	margin-right: 5px;
  }

  .menuCategories {
  	font-size: .9em;
  	font-weight: normal;
  }

  #calculations .tips p{
  	display: block;
  	position: relative;
  	width: 100%;
  }

  #receiptUL li {
  	font-size: .8em;
  }

  #finalTotal {
  	position: relative;
  	width: 100%;
  	font-size: 1em;
  }

  p.tips button {
	margin: 0 auto;

  	display: block;
  }



}
